* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "calibri";
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(39, 39, 39);
    height: 100vh;
}

.table-grid {
    height: 500px;
    width: 500px;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.seat {
    border: 2px solid grey;
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    position: relative;
}

.seat.active {
    border: 2px solid blue;
    transition: .5s;
}

.hand {
    display: flex;
}

.player {
    height: 151px;
    width: 151px;
    background-color: black;
    border-radius: 90px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.player-name {
    position: absolute;
    color: white;
    top: 15px;   
}

.chip-count {
    position: absolute;
    color: gold;
    bottom: 15px; 
   
}

.card {
    height: 100px;
    background-color: white;
    border: 1px solid silver;
    border-radius: 3px;
    width: 60px;
    height: 85px;
    margin: -24px;
    background-size: contain;
}

.test-button {
    position: absolute;
    height:50px;
    width: 50px;
    background: red;
}


.btn-container {
    position: absolute;
    padding:10px;
    bottom: 0px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.btn-container {
    display: flex;
    transition: 1s;
}

.hit-btn {
    background: rgb(40, 156, 40);
    transition: 2s;

}

.stay-btn {
    background: red;
}

.game-btn {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}



.score {
    height: 40px;
    width: 40px;
    position: absolute;
    right: 5px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 900;
    color: white;
}

.winner {
    position: absolute;
    height: 30px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
    color: white;
 
}

.win {
    border: 2px solid green;
}



.bust {
    border: 1px solid red;
}

.red {
    color: red;
}

.bust-ele {
    position: absolute;
    padding: 4px;
    border: 2px solid red;
    color: black;
    font-weight: bold;
    background: red;
    opacity: .2;
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

.bust-text {
    position: absolute;
    color: red;
    font-size: 22px;
    font-weight: bold;
    text-shadow: 10px;
    background: black;
    padding: 5px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-again {
    position: absolute;
    height: 50px;
    width: 120px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.hide {
    display: none;
}



.chip-deduction {
    position: absolute;
    color: red;
    bottom: 16px; 
    right: 57px;
    font-weight: bold;
    opacity: .8;
    font-size: 14px;
}



.chip-addition {
    position: absolute;
    color: green;
    bottom: 15px; 
    right: 47px;
    font-weight: bold;
    font-size: 14px;
}

.bold {
    font-weight: bold;
}

#login {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    justify-content: center;
    gap: 10px;
    color: white;
    position: relative;
}

#login input {
    height: 29px;
    padding-left: 8px;
}

#logo {
    width: 190px;
    height: auto;
    position: absolute;
    top: 30px;
}

.login-btns {
    position: absolute;
    bottom: 22px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    gap: 10px;
    box-sizing: border-box;
}

.login-btns button {
    border: 1px solid white;
    height: 100%;
    width: 120px;
    padding: 0;
    background: white;
    cursor: pointer;
    color: white;
}

#login-btn {
    background: blue;
}

.create-account-btn {
    background: green;
    border: 1px solid white;
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 0 20px 0 20px;  
    cursor: pointer;
}



.create-account-form {
    display: flex;
    background-color: rgb(71, 71, 71);
    height: 380px;
    width: 470px;
    border-radius: 13px;
    align-items: center;
    justify-content: flex-end;
}

.create-account-popup {
    position: absolute;
    z-index: 11;

}

.table-row {
    color: white;
    height: 30px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.create-account-form-labels {
    width: 50%;
    height: 160px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.input-fields {
    height: 160px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.input-fields input {
    width: 100%;
    height: 30px;
    margin-left: 5px;
    padding-left: 5px;
}

.create-account-popup-title {
    color: white;
    position: absolute;
    margin: auto;
    width: 100%;
    text-align: center;
    top: 30px;
    font-size: 22px;
}

.create-account-popup-submit-button-row {
    position: absolute;
    height: 50px;
    width: 100%;
    padding: 0;
  
    cursor: pointer;
    color: white;
    bottom: 25px;
    margin: auto;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 4px;
}

.popup-button {
    background: rgb(104, 104, 104);
    height: 30px;
    width: 90px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.password-incorrect {
    position: absolute;
    height: 40px;
    width: 200px;
    color: rgb(236, 27, 27);
    top: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
}

.hide {
    display: none;
}

body {
    display: block;
}

#lobby-logo {
    height: 100%;
    width: auto;
    padding-left: 7px;
}

.lobby-header {
    width: 100%;
    height: 15vh;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 5px 10px 5px 10px;
}

.user-image {
    height: 50px;
    width: 50px;
    background: rgb(73, 73, 73);
    border-radius: 100px;
}

.user-snippet {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-right {
    display: flex;
    gap: 50px;
    align-items: center;
    height: 100%;
}

.lobby-chip-snippet {
    width: 70px;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.chip-snippet {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}

.lobby-chip-symbol {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    border-radius: 30px;
    background: rgb(73, 73, 73);
}

.lobby-buttons {
    width: 130px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 4px 0 4px 0;
}

.lobby-btn {
    width: 120px;
    height: 38px;
    background: rgb(73, 73, 73);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.lobby-user-name {
    font-size: 20px;
    font-weight: bold;
}

.lobby-user-rank {
    color: grey;
    font-size: 14px;
}

.seperator-strip {
    width: 100%;
    height: 5vh;
    background: rgb(29, 29, 29);
}

.display-header {
    background: rgb(48, 48, 48);
    height: 5vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;

}

.tables-grid {
    padding-top: 30px;
    width: 700px;
    height: 1500px;
    margin: auto;
    display: grid;
    grid-template-columns: 320px 320px;
    grid-template-rows: repeat(320px);
    justify-content: space-between;
    align-items: center;
    background: blue;
}

.table {
    height: 320px;
    width: 320px;
    border: 2px solid grey;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.seat-grid {
    height: 150px;
    width: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;


}


.lobby-seat {
    background: black;
    border-radius: 100px;
    border: 2px solid rgb(53, 53, 53)
}

.white {
    background: rgb(110, 110, 110);
}

.table-info {
    color: white;
    
}

.table-facts {
    display: flex;
    position: absolute;
    top: 10px;
    width: 100%;
    height: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 10px;
}

.table-stakes {
    top: 10px;
    right: 10px;
}

.table-coin {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.coin-icon {
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.observe-button {
    position: absolute;
    background: green;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    border-radius: 5px;
    bottom: 10px;
    color: white;
    cursor: pointer;
}

.tables-header-strip-left {
    display: flex;
    position: absolute;
    left: 15px;
    width: 130px;
    justify-content: space-between;
}

.home-button {
    background: grey;
    border-radius: 3px;
    height: 20px;
    width: 50px;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

a { 
    text-decoration: none;
    color: white;
}

.top-third {
    height: 25%;
}

.middle-third {
    height: 66vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.bottom-third {
    height: 5vh;
    
    background: rgb(48, 48, 48);
}

.sidebar {
    height: 100%;
    width: 15%;
    background: black;    
    color: white;
    border-right: 1px solid rgb(61, 61, 61);

}

.sidebar-ele {
    border-bottom: 1px solid rgb(61, 61, 61);
    height: 48px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    cursor: pointer;
}

.sidebar-ele {
    background: rgb(36, 36, 36);
}



.change-email {
    color: white;
    display: flex;
    flex-direction: column;
}

.widget {
    width: 540px;
    margin-top: 8px;
    padding: 18px 0 18px 0;
    display: flex;
    align-items: center;
    border-radius: 11px;
    justify-content: center;
    gap: 32px;
    background: black;
    border: 2px solid rgb(56, 56, 56);
    font-size: 14px;
    margin-bottom: 18px;
}

.personal-info-text {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.bold {
    font-weight: bold;
}

.hide {
    display: none;
}

.change-password {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 100%;
    width: 100%;
}

#change-password-form {
    display: flex;
    flex-direction: column;
}

.display {
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}



.hide {
    display: none;
}

.table-row {
    display: flex;
    height: 33%;
    justify-content: flex-end;
    align-items: center;
}

.change-password-form {
    font-size: 17px;
    width: 590px;
    height: 160px;
    display: flex;
}

.table-row input {
    height: 67%;
    width: 100%;
    margin-left: 14px;
}

#change-password-btn {
    height: 40px;
    width: 120px;
    background: rgb(66, 66, 66);
    color: white;
}

.button-row {
    justify-content: center ;
}

.change-password-form-labels {
    width: 30%;
}

.input-fields {
    width: 70%;
}

#root {
    height: 100vh;
}

.change-email-row {
    width: 700px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 21px;
    position: relative;
    margin-bottom: 10px;
}

.display-element {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: move;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    z-index: 33 ;

}
.slide-display-element {
    animation-name: move;
    animation-duration: .5s;
    animation-iteration-count: 1;
}

@keyframes move {
    from { transform: translateX(-110px)}
    to { transform: translateX(0px)}
}

slide-display-element



.account-information {
    align-items: flex-start;
}

.change-email-input {
    width: 580px;
    height: 32px;
}

.table-container {
    display: flex;
}

.display-table {
    height: 85%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.account-information {
    width: 100%;
    height: 100%;
    padding: 8px 30px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.table-slider {
    position: absolute;
    height: 15%;
    width: 100%;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-ele {
    height: 55%;
    width: 100px;
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.tble {
    width: 150px;
    height: 60%;
    border: 2px solid black;
    margin: 15px;
    background: rgb(68, 68, 68);
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.plyr {
    height: 40px;
    width: 10px;
    background-color: rgb(255, 255, 255);
    opacity: .5;
}

.white {
    background: white;
}


.tble-header {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tble-footer {
    height: 20%;
    width: 100%;
    display: flex;    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: white;
}

text {
    color: white;
}

.stakes {
    font-size: 19px;
    font-weight: bold;
    color: white;
}

.join-btn {
    background: rgb(0, 0, 0);
    padding: 5px;
    cursor: pointer;
    color: white;
    text-align: center;
    border: 1px solid rgb(255, 255, 255);
}

.snippet {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.cashier-header {
    width: 100%;
    height: 42px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.cashier-header-ele {
    border-top: 2px solid rgb(61, 61, 61);
    border-left: 1px solid rgb(61, 61, 61);
    border-right: 1px solid rgb(61, 61, 61);
    border-bottom: 2px solid rgb(61, 61, 61);
    display: flex;
    color: white;
    align-items: center;
    padding-left: 15px;
    cursor: pointer;
}

.cashier-header-ele img {
    padding-right: 5px;
}

.test-c {
    height: 500px;
    width: 700px;
}

.cashier-content {
    height: 88%;
    width: 100;
}

.cashier-overview-top {
    display: grid;
    width: 95%;
    height: 200px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.divider {
    border: 1px solid grey;
}

.cashier-overview-table {
    border: none;
    border-collapse: collapse;
    width: 97%;
    margin: auto;
}

th {
    width: 140px;
    height: 40px;
    color: white;
    border-top: 1px solid rgb(0, 0, 0);

}

.row-1 th {
    background: rgb(48, 48, 48);
}

.row-2 th {
    color: orange;
}

.row-3 th {
    color: rgb(29, 202, 29);
}

.row-4 th {
    color: rgb(202, 29, 86);
}

.logo-icon {
    margin: auto;
    height: 22px;
    width: 22px;
    background: yellow;
    border-radius: 20px;
}

.orange {
    background: orange;
}

.green {
    background: rgb(29, 202, 29);
}

.pink {
    background: rgb(202, 29, 86); 
}

.pink-txt {
    color: rgb(202, 29, 86); 
}

.deposit-snippet {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end ;
    justify-content: center;
    gap: 80px;
    padding-bottom: 40px;
}   

.deposit-col-1 {
    height: 330px;
    width: 200px;
    display: flex;
    align-items: center ;
    justify-content: center;
    flex-direction: column;
}

.large-crypto-logo-box {
    height: 160px;
    width: 160px;
    background: rgb(46, 46, 46);
    margin: 3px;
    display: flex;
    align-items: center ;
    justify-content: center;
}

.large-crypto-logo {
    height: 135px;
    width: 135px;
    border-radius: 100px;   
}

.deposit-col-2 {
    width: 450px;
    height: 340px;
    color: white;
    position: relative;
}

.green-txt {
    color: rgb(29, 202, 29);
    font-weight: bold;
}

.orange {
    background: orange;
}

.orange-txt {
    color: orange;
}

.crypto-address {
    margin-bottom: 20px;
    width: 100%;
    height: 30px;
    border-radius: 5px;
}

.deposit-btn {
    height: 40px;
    width: 200px;
    background: rgb(43, 42, 42);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

h3 {
    margin-bottom: 5px;
}

.deposit-col-2-row-2 {
    height: 200px;
    width: 100px;
}

.qr {
    height: 190px;
    width: auto;
    position: absolute;
    top: 0px;
    right: 10px;
}

.row-2-area {
    height: 210px;
    width: 450px;
    display: flex;
}

.left {
    height: 100%;
    width: 50%;
}

.right {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.orange-txt {
    color: orange;
    font-weight: bold;
}

.p2p-snippet {
    width: 100%;
    height: 100%;
    display: flex;
    color: white;
}

.p2p-left {
    height: 100%;
    padding-top: 10px;
    width: 30%;
    padding-left: 20px;
}

.p2p-right {
    height: 100%;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 70%;
}

.title {
    font-weight: bold;
    position: relative;
}

.p2p-left-row {
    height: 44px;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.p2p-left-row-right {
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.p2p-left-row-right input, select {
    height: 28px;
    border-radius: 3px;
    padding-left: 5px;
}

.offer-to-input {
    width: 100%;
}

.p2p-send-input {
    width: 55%;
}

.p2p-send-row {
    justify-content: space-between;
}

.p2p-left-row-right select {
    width: 30%;
}

.active {
    background: rgb(192, 0, 0);
}

.my-offers-header {
    height: 44px;
    width: 100%;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.my-offers-header-left {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
}

.my-offers-header-right {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.offers-filter {
    width: 100%;
}

.calendar-input {
    height: 28px;
    width: 110px;
}

.cal-divider {
    font-weight: bold;
    font-size: 25px;
    position: absolute;
    color: white;
}

.def-btn {
    padding: 10px;
    background: rgb(44, 44, 44);
    color: white;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.activ {
    background: rgb(92, 92, 92);
}

.between {
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    align-items: flex-start;
}

.tble-header {
    color: white;
}

.flex-end {
    align-self: flex-end;
}

.split {
    padding-right: 30px;
}

.change-email {
    color: white;
    position: relative;
    bottom: 70px;
}


.flex-start {
    justify-content: flex-start;
}

.bigger-txt {
    font-size: 18px;
}

.history {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    padding: 0 10px;
}

.history-row-1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.history-row-1-part-1 {
    gap: 10px;
    width: 30%;
    display: flex;
    gap: 15px;
}

.history-row-1-part-2 {
    gap: 10px;
    width: 30%;
    display: flex;
    gap: 5px;
    justify-content: flex-end;
}

.history-row-1 input {
    height: 28px;
    border-radius: 3px;
}

.cash-history-select-1 {
    width: 100px;
}

.cash-history-select-2 {
    width: 150px;
}

.history-row-1-part-2 input {
    padding-left: 5px;
}

.history-row-1-part-2 p {
    color: white;
    font-weight: bold;
    font-size: 19px;
}

.history-row-2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 28px;
}

.cashier-table-history {
    text-align: center;
    border-collapse: collapse;

}

.history-table-header {
    background: rgb(59, 59, 59);
}

.default-btn {
    height: 40px;
    width: 110px;
    background: rgb(48, 48, 48);
    color: white;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.display-header-right {
    width: 85%;
    background: red;
}

.display-header-left {
    width: 15%;
    background: blue;
}

.disp-left {
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.disp-right {
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-title {
    padding-left: 10px;
}

.account-security {
    width: 100%;
    height: 100%;
    padding: 30px;
    position: relative;
}

.authentication-container {
    height: 100px;
    width: 250px;
}

.auth-top {
    width: 100%;
    height: 35%;
    font-weight: bold;
    color: white;
    font-size: 17px;
}

.auth-bottom {
    width: 100%;
    height: 65%;
}

.auth-bottom-1 {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 16px;
}

.auth-btn {
    position: absolute;
    width: 260px;
    height: 40px;
}

.authentication-container2 {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.radio {
    margin-right: 5px;
}

.avatar-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.avatar-sec1 {
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar-sec2 {
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar-current {
    width: 90px;
    height: 90px;
    background: white;
    border-radius: 80px;
}

.avatar-grid {
    display: grid;
    height: 85%;
    width: 90%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.avatar-option {
    width: 65px;
    height: 65px;
    background: rgb(90, 90, 90);
    border-radius: 50px;
    cursor: pointer;
}

.avatar-option:hover {
    border: 1px solid rgb(192, 192, 192);
}

.tables {
    display: flex;
    width: 200%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: .7s;

}

.tables-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: red;
}

.lobby-tables-wrapper {
    width: 100%;
    height: 50%;
    overflow: hidden;
    background: yellow;
}

.table-slider-controls {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}

.table-slider-left {
    height: 20px;
    width: 20px;
    background: rgb(161, 161, 161);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-slider-right {
    height: 20px;
    width: 20px;
    background: rgb(161, 161, 161);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.display-table {
    width: 130px;
}

.number-of-players-ele {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-settings {
    width: 500px;
    height: 240px;
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.chat {
    width: 350px;
    height: 175px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

input {
    margin-right: 5px;
}


.chat-settings {
    display: flex;
    align-items: center;
  

}

.chat-btn {
    padding: 10px;
    background: rgb(44, 44, 44);
    color: white;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.chat-setting-btns {
    display: flex;
    justify-content: space-between;
    width: 210px;
}

.sound-settings-container {
    height: 350px;
    width: 500px;
}

.sound-section-1 {
    color: white;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.sound-section-2 {
    color: white;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.sound-section-3 {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}

.sound-section-4 {
    color: white;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sound-ele {
    margin-bottom: 15px;
}

.def-btn {
    padding: 10px;
    background: rgb(44, 44, 44);
    color: white;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.footer-widget {
    height: 88%;
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ftr-widget {
    width: 32%;
    height: 80%;
    border-radius: 5px;
    background: rgb(70, 70, 70);

    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.bottom-third {
    display: flex;
    justify-content: flex-end;
}

.ftr-widget img {
    display: flex;
    align-items: center;
    justify-content: center;

}

.online-players-div {
    height: 90%;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 18px;
    font-size: 15px;
}

.chat-popup {
    height: 0px;
    width: 350px;
    background: black;
    position: ABSOLUTE;
    bottom: 10px;
    right: 5px;
    border-radius: 10px;
    transition: 1s;
}

.chat-popup.open-chat {
    border: 1px solid grey;
    height: 300px;
}

.login_page {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.pong_table {
    height: 100vh;
    width: 100vw;
    color: white;
}



.login {
    height: 300px;
    width: 300px;
    border-radius: 5px;
    background: rgb(158, 158, 158);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}


.login_wrapper {
    width: 220px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0px;
    gap: 10px;
   
}

.login_wrapper div {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.login_wrapper div, div {
    width: 100%;
}

.login button {
    width: 80px;
    height: 30px;
    align-self: center;

}

.error {
    align-self: flex-end;
}

.nav {
    color: white;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding-right: 7px;
    background: rgb(48, 48, 48);
    height: 4vh;
}

.pong_table {
    height: 100vh;
    width: 100vw;
    
}

.table_title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game_table {
    width: 600px;
    height: 600px;
    background: rgb(86, 86, 86);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.pong_player {
    height: 100px;
    width: 20px;
    background: white;
    opacity: .8;
}

.pong_player:hover {
    opacity: 1;
}

.player_names_display {
    border-bottom: 1px solid black;
    height: 35px;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.player_name {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.player_name > div{
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lobby-test-header {
    text-align: center;
    color: white;
    margin-bottom: 20px;
}